<h3>Current question: <em><%= @question.body %></em></h3>
<h5>Asked by: <%= @question.user.name %></h5>


<% if @question.answers.any? %>
  <% @question.answers.each do |answer| %>
    <ul>
      <li><%= answer.body %></li>
    </ul>
  <% end %>
<% else %>
<p>
  Currently there are no answers.  Add one!
</p>
<% end %>

<h6>Add an answer to this question</h6>
<%= bootstrap_form_for [@question, @answer] do |f| %>
  <%=f.text_field :body %>

  <%= f.submit "Submit", class: 'btn-btn-primary' %>
<% end %>
